In [1]:
import sqlite3 as sql

connection = sql.connect('Staffs.db.')

connection.execute("CREATE TABLE Staffs(SN INTEGER PRIMARY KEY AUTOINCREMENT, Name TEXT NOT NULL)")

connection.close()

In [2]:
connection = sql.connect('Staffs.db')

name = 'Silver'

#connection.execute("INSERT INTO Staffs(Name)VALUES(Silver)")
connection.execute("INSERT INTO Staffs (Name) VALUES (?)", (name,))

connection.commit()

connection.close()

In [3]:
connection = sql.connect('Staffs.db')

name = 'Paul'

#connection.execute("INSERT INTO Staffs(Name)VALUES(Silver)")
connection.execute("INSERT INTO Staffs (Name) VALUES (?)", (name,))

connection.commit()

connection.close()

In [4]:
connection = sql.connect('Staffs.db')

name = 'Glory'

#connection.execute("INSERT INTO Staffs(Name)VALUES(Silver)")
connection.execute("INSERT INTO Staffs (Name) VALUES (?)", (name,))

connection.commit()

connection.close()

In [5]:
conn = sql.connect("Staffs.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM Staffs")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000027E889316C0>
(1, 'Silver')
(2, 'Paul')
(3, 'Glory')

In [6]:
conn = sql.connect("Staffs.db")

curs = conn.cursor()

content = curs.execute('SELECT * FROM Staffs')

print(content)

for record in content:
     if record[0] == 1:
        print(f'{record[1]}')

conn.close()

<sqlite3.Cursor object at 0x0000027E88930FC0>
Silver

In [7]:
conn = sql.connect("Staffs.db")

curs = conn.cursor()

content = curs.execute('SELECT * FROM Staffs')

print(content)

for record in content:
     if record[0] == 2:
        print(f'{record[1]}')

conn.close()

<sqlite3.Cursor object at 0x0000027E889320C0>
Paul

In [8]:
conn = sql.connect("Staffs.db")

curs = conn.cursor()

content = curs.execute('SELECT * FROM Staffs')

print(content)

for record in content:
     if record[0] == 3:
        print(f'{record[0]} : {record[1]}')

conn.close()

<sqlite3.Cursor object at 0x0000027E88932040>
3 : Glory

In [9]:
conn = sql.connect("Staffs.db")

curs = conn.cursor()

content = curs.execute('SELECT * FROM Staffs')

print(content)

for record in content:
     if record[0] >= 2:
        print(f'{record[0]} : {record[1]}')

conn.close()

<sqlite3.Cursor object at 0x0000027E88932540>
2 : Paul
3 : Glory

### How to update items in the DB

In [10]:
conn = sql.connect('Staffs.db')

curs = conn.cursor()

content = curs.execute('SELECT * FROM Staffs')

data_to_update = input('Do you want to search for the data by name or SN:')

if data_to_update == 'SN':
    sn_value = int(input('Enter the SN:'))
    for record in content:
        if record[0] == sn_value:
            print(f'{record[0]} : {record[1]}')
            new_name = input('Enter the new name:')
            update_content = curs.execute("UPDATE Staffs SET Name = ? WHERE Name = ?", (new_name, sn_value))
            conn.commit()

elif data_to_update == 'Name':
    name_value = input('Enter the Name:')
    for record in content:
         if record[1] == name_value:
             print(f'{record[0]} : {record[1]}')
             new_name = input('Enter the new name:')
             update_content = curs.execute("UPDATE Staffs SET Name = ? WHERE Name = ?", (new_name, name_value))
             conn.commit()
else:
    print('Invalid input')

#update_content = curs.execute("UPDATE Staffs (Name) VALUES (?)", (name,))

conn.close()

Do you want to search for the data by name or SN: SN
Enter the SN: 2

2 : Paul

Enter the new name: Qwerty

In [11]:
conn = sql.connect('Staffs.db')

curs = conn.cursor()

content = curs.execute('SELECT * FROM Staffs')

data_to_update = input('Do you want to search for the data by name or SN:')

if data_to_update == 'SN':
    sn_value = int(input('Enter the SN:'))
    for record in content:
        if record[0] == sn_value:
            print(f'{record[0]} : {record[1]}')
            new_name = input('Enter the new name:')
            update_content = curs.execute("UPDATE Staffs SET Name = ? WHERE Name = ?", (new_name, sn_value))
            conn.commit()

elif data_to_update == 'Name':
    name_value = input('Enter the Name:')
    for record in content:
         if record[1] == name_value:
             print(f'{record[0]} : {record[1]}')
             new_name = input('Enter the new name:')
             update_content = curs.execute("UPDATE Staffs SET Name = ? WHERE Name = ?", (new_name, name_value))
             conn.commit()
else:
    print('Invalid input')

#update_content = curs.execute("UPDATE Staffs (Name) VALUES (?)", (name,))

conn.close()

Do you want to search for the data by name or SN: Name
Enter the Name: Silver

1 : Silver

Enter the new name: Peterson

In [12]:
conn = sql.connect("Staffs.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM Staffs")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000027E88930DC0>
(1, 'Peterson')
(2, 'Paul')
(3, 'Glory')

### To delete records in the database

In [19]:
conn = sql.connect('Staffs.db')

curs = conn.cursor()

content = curs.execute('SELECT * FROM Staffs')

data_to_delete = input('Do you want to search for the data by name or SN:')

if data_to_delete == 'SN':
    sn_value = int(input('Enter the SN:'))
    for record in content:
        if record[0] == sn_value:
            print(f'{record[0]} : {record[1]}')
            delete_content = curs.execute('DELETE FROM Staffs WHERE SN = ?', (sn_value,))
            conn.commit()

elif data_to_delete == 'Name':
    name_value = input('Enter the Name:')
    for record in content:
         if record[1] == name_value:
             print(f'{record[0]} : {record[1]}')
             update_content = curs.execute('DELETE FROM Staffs WHERE Name = ?', (name_value,))
             conn.commit()
else:
    print('Invalid input')

#update_content = curs.execute("UPDATE Staffs (Name) VALUES (?)", (name,))

conn.close()

Do you want to search for the data by name or SN: SN
Enter the SN: 1

1 : Peterson

In [20]:
conn = sql.connect("Staffs.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM Staffs")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000027E88931E40>
(2, 'Paul')
(3, 'Glory')