### Creation of a database

In [2]:
import sqlite3 as sql

connection = sql.connect('Students.db')

connection.execute('CREATE TABLE Students(Mat_NO TEXT, Age INT, Name TEXT)')

connection.close()

### Adding some values to the database

In [9]:
connection = sql.connect("Students.db")

connection.execute("INSERT INTO Students(Mat_NO, Age, Name)VALUES('U2018/4561090', 40, 'JackJhon')")

connection.commit()

connection.close()

### Getting the contents from the database

In [10]:
conn = sql.connect("Students.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM Students")

conn.close()
print(content)

<sqlite3.Cursor object at 0x0000028BCCC4A7C0>

In [11]:
conn = sql.connect("Students.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM Students")


for record in content:
    print(record)

conn.close()

('U2018/4561090', 40, 'JackJhon')

In [12]:
conn = sql.connect("Students.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM Students")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000028BCCC4A8C0>
('U2018/4561090', 40, 'JackJhon')

## Trying to use PRIMARY KEY

In [13]:
conn = sql.connect('States.db')

conn.execute("CREATE TABLE States(State TEXT PRIMARY KEY, Count INT NOT NULL)")

conn.close()

## Trying to insert some values

In [16]:
conn = sql.connect('States.db')

conn.execute("INSERT INTO States(State, Count)VALUES('Rivers', 20)")

conn.commit()

conn.close()

#### Trying to see if i can insert thesame value

In [17]:
conn = sql.connect('States.db')

conn.execute("INSERT INTO States(State, Count)VALUES('Rivers', 20)")

conn.commit()

conn.close()

IntegrityError: UNIQUE constraint failed: States.State

In [19]:
conn = sql.connect('States.db')

conn.execute("INSERT INTO States(State, Count)VALUES('Bayelsa', 21)")

conn.commit()

conn.close()

##### Getting the contents from the database

In [20]:
conn = sql.connect("States.db")
curs = conn.cursor()
content = curs.execute("SELECT * FROM States")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000028BCCC26BC0>
('Rivers', 20)
('Bayelsa', 21)

In [21]:
### Assignment

#Create any table of your choice, let the primary key be an integer with auto increment function

#See how you can create a record in a database
#See how to read a record
#See how you can update items in a database
#See how to delete a record