In [1]:
import sqlite3 as sql

connection = sql.connect('Students_data.db.')

connection.execute("CREATE TABLE Staffs_data(SN INTEGER PRIMARY KEY AUTOINCREMENT, Name TEXT NOT NULL, Id TEXT NOT NULL, Age INT NOT NULL)")

connection.close()

In [2]:
connection = sql.connect('Students_data.db')

name = input('Name:')
id = input('ID:')
age = int(input('Age:'))

connection.execute("INSERT INTO Staffs_data(Name, Id, Age)VALUES(?, ?, ?)", (name, id, age))

connection.commit()

connection.close()

Name: Oxward
ID: qwt32233uh48
Age: 54

In [3]:
connection = sql.connect('Students_data.db')

for i in range(5):
    name = input('Name:')
    id = input('ID:')
    age = int(input('Age:'))

connection.execute("INSERT INTO Staffs_data(Name, Id, Age)VALUES(?, ?, ?)", (name, id, age))

connection.commit()

connection.close()

Name: Qween
ID: wfjore98ry934
Age: 34
Name: Peterson
ID: jc98y98hi4h3h
Age: 98
Name: Glory Mandy
ID: wilfo39u490r34
Age: 56
Name: Pedro
ID: po29894347
Age: 56
Name: Sunny
ID: sgwg843498349f
Age: 76

In [5]:
conn = sql.connect('Students_data.db')
curs = conn.cursor()
content = curs.execute("SELECT * FROM Staffs_data")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000026BC50ADC40>
(1, 'Oxward', 'qwt32233uh48', 54)
(2, 'Sunny', 'sgwg843498349f', 76)

In [8]:
conn = sql.connect("Students_data.db")
curs = conn.cursor()
content = curs.execute("SELECT Name, Age FROM Staffs_data")

for record in content:
    print(record)

('Oxward', 54)
('Sunny', 76)