In [1]:
import numpy as np
import pandas as pd

### Apply Map

In [2]:
df = pd.DataFrame([[10, 20], [34.5, 70.8]])

df

      0     1
0  10.0  20.0
1  34.5  70.8

In [4]:
df = pd.DataFrame([np.random(1, 100, 5), np.random(0, 100)])

df

TypeError: 'module' object is not callable