In [1]:
import numpy as np
import pandas as pd

In [2]:
print('Welcome to our automated analysis')

num_of_files = int(input("How many file's do you want to work with?"))

file_names = []
data_frame = []

for file in range(num_of_files):
    inp = input('Input the location of the file that you want to analize')
    if inp in ['break', '']:
        break
    file_names.append(inp)

for data in file_names:
    data = pd.read_csv(data)
    data_frame.append(data)

print(file_names); print(data_frame);

Welcome to our automated analysis
['data/state-abbrevs.csv', 'data/state-areas.csv', 'data/state-population.csv']
[                   state abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY,                    state  area (sq. mi)
0                Alabama          52423
1                 Alaska         656425
2                Arizona         114006
3               Arkansas          53182
4             California         163707
5               Colorado         104100
6            Connecticut           5544
7               Delaware           1954
8                Florida          65758
9                Georgia          59441
10                Hawaii          10932
11                 Idaho          83574
12              Illinois          57918
13               Indiana          36420
14                  Iowa          56276
15                Kansas          82282
16              Kentucky          40411
17             Louisiana          51843
18                 Maine          35387
19              Maryland          12407
20         Massachusetts          10555
21              Michigan          96810
22             Minnesota          86943
23           Mississippi          48434
24              Missouri          69709
25               Montana         147046
26              Nebraska          77358
27                Nevada         110567
28         New Hampshire           9351
29            New Jersey           8722
30            New Mexico         121593
31              New York          54475
32        North Carolina          53821
33          North Dakota          70704
34                  Ohio          44828
35              Oklahoma          69903
36                Oregon          98386
37          Pennsylvania          46058
38          Rhode Island           1545
39        South Carolina          32007
40          South Dakota          77121
41             Tennessee          42146
42                 Texas         268601
43                  Utah          84904
44               Vermont           9615
45              Virginia          42769
46            Washington          71303
47         West Virginia          24231
48             Wisconsin          65503
49               Wyoming          97818
50  District of Columbia             68
51           Puerto Rico           3515,      state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]]

In [3]:
merged_data = pd.concat(data_frame, axis=0)
merged_data.columns

Index(['state', 'abbreviation', 'area (sq. mi)', 'state/region', 'ages',
       'year', 'population'],
      dtype='object')

In [4]:
#data = pd.read_csv(file_names)

merged_data.head()

        state abbreviation  area (sq. mi) state/region ages  year  population
0     Alabama           AL            NaN          NaN  NaN   NaN         NaN
1      Alaska           AK            NaN          NaN  NaN   NaN         NaN
2     Arizona           AZ            NaN          NaN  NaN   NaN         NaN
3    Arkansas           AR            NaN          NaN  NaN   NaN         NaN
4  California           CA            NaN          NaN  NaN   NaN         NaN

In [15]:
print(merged_data.columns)

Number_of_columns = int(input('How many columns do you want to work on:'))

columns_names = []

for i in range(Number_of_columns):
    data_column = input('Which column do you want to work on:')
    columns_names.append(data_column)

selected_data = pd.DataFrame(merged_data[columns_names])
print(selected_data.head());

Index(['state', 'abbreviation', 'area (sq. mi)', 'state/region', 'ages',
       'year', 'population'],
      dtype='object')
        state  year ages
0     Alabama   NaN  NaN
1      Alaska   NaN  NaN
2     Arizona   NaN  NaN
3    Arkansas   NaN  NaN
4  California   NaN  NaN
3

In [17]:
print("What operation do you want to perform in the column's?");
inp = input('What would you like to do:')
reply = inp.lower()

if reply in ['perform mathematical analysis', 'perform numerical analysis', 'numerical analysis']:
    import Numerical_analysis
    from Numerical_analysis import perform_analysis

    perform_analysis(selected_data, columns_names, reply)

What operation do you want to perform in the column's?

In [ ]:
print("What operation do you want to perform in the column's?")
inp = input('What would you like to do:')
data = inp.lower()

if data in ['perform mathematical analysis', 'perform numerical analysis']:
    inp = input('What kind of analysis:')
    reply = inp.lower()

    # Check if 'selected_data' is not numeric and convert if needed
    if not isinstance(selected_data, (int, float)):
        selected_data = pd.to_numeric(selected_data, errors='coerce')

    # Check the length of columns only once
    length_of_columns = len(columns_names)
    if length_of_columns > 1:
        # Asking if they'll like to analyse based on any condition
        cond = input('Do you want to apply a specific condition or just take it as is?').lower()
        if cond == 'no':
            # Perform the selected analysis
            if reply == 'find the sum of data' or reply == 'find the sum':
                result = np.sum(selected_data)

            elif reply in ['find the min of data', 'find the min']:
                result = np.min(selected_data)

            elif reply in ['find the max of data', 'find the max']:
                result = np.max(selected_data)

            elif reply in ['find the standard deviation of data', 'find the std']:
                result = np.std(selected_data)

            elif reply in ['find the mean of data', 'find the mean']:
                result = np.mean(selected_data)

            elif reply in ['find the median of data', 'find the median']:
                result = np.median(selected_data)

            elif reply in ['find the variance value of data', 'find the variance']:
                result = np.var(selected_data)
        
            elif reply in ['find percentile value']:
                num_of_percentile = int(input('Enter the number of percentile:'))
                result = np.percentile(selected_data,num_of_percentile)
            
            elif reply in ['find the cumulative sum']:
                result = np.cumsum(selected_data)

            elif reply in ['find the unique value']:
                result = np.unique(selected_data)

            else:
                print("Invalid analysis type.")
        elif cond == 'yes':
            # Getting the condition from user and applying it
            condition = input('Please enter the condition (e.g., >50):')
            try:
                for item in selected_data:
                    if condition == True:
                        # Perform the selected analysis
                        if reply == 'find the sum of data' or reply == 'find the sum':
                            result = np.sum(selected_data)

                        elif reply in ['find the min of data', 'find the min']:
                            result = np.min(selected_data)

                        elif reply in ['find the max of data', 'find the max']:
                            result = np.max(selected_data)

                        elif reply in ['find the standard deviation of data', 'find the std']:
                            result = np.std(selected_data)

                        elif reply in ['find the mean of data', 'find the mean']:
                            result = np.mean(selected_data)

                        elif reply in ['find the median of data', 'find the median']:
                            result = np.median(selected_data)

                        elif reply in ['find the variance value of data', 'find the variance']:
                            result = np.var(selected_data)

                        elif reply in ['find percentile value']:
                            num_of_percentile = int(input('Enter the number of percentile:'))
                            result = np.percentile(selected_data,num_of_percentile)
                        
                        elif reply in ['find the cumulative sum']:
                            result = np.cumsum(selected_data)

                        elif reply in ['find the unique value']:
                            result = np.unique(selected_data)

                        else:
                            print("Invalid analysis type.")

        # Print or store the result
        print("Result:", result)
    else:
        print("Error: More than one column selected.")

print(selected_data.head())

In [2]:
# main_script.py
import numpy as np
import pandas as pd
from Numerical_analysis import one_column_analysis, more_than_one_column

# Welcome message
print('Welcome to our automated analysis')

# Getting the file for the analysis
inp = input('Input the location of the file that you want to analyze: ')
data = pd.read_csv(inp)

print(data.columns)

# Getting the number of columns from the user
Number_of_columns = int(input('How many columns do you want to work on: '))

columns_names = []

for i in range(Number_of_columns):
    data_column = input('Which column do you want to work on: ')
    columns_names.append(data_column)

selected_data = data[columns_names]
print(selected_data.head())

print("What operation do you want to perform in the columns?")
inp = input('What would you like to do: ')
data = inp.lower()

if data in ['perform mathematical analysis', 'perform numerical analysis']:
    inp = input('What kind of analysis: ')
    reply = inp.lower()

    if len(columns_names) == 1:
        one_column_analysis(selected_data[columns_names[0]], reply, columns_names)
    else:
        more_than_one_column(selected_data, columns_names)

# Assuming you want to print the head of 'selected_data'
print(selected_data.head())

Welcome to our automated analysis
Index(['state', 'area (sq. mi)'], dtype='object')
   area (sq. mi)
0          52423
1         656425
2         114006
3          53182
4         163707
What operation do you want to perform in the columns?
   area (sq. mi)
0          52423
1         656425
2         114006
3          53182
4         163707