In [17]:
import numpy as np
import pandas as pd

In [18]:
print('Welcome to our automated analysis')

inp = input('Input the location of the file that you want to analize')

print(inp)

Welcome to our automated analysis
data/state-abbrevs.csv

In [19]:
data = pd.read_csv(inp)

data.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [20]:
print(data.columns)

Number_of_columns = int(input('How many columns do you want to work on:'))

columns_names = []

for i in range(Number_of_columns):
    data_column = input('Which column do you want to work on:')
    columns_names.append(data_column)

selected_data = data[columns_names]
print(selected_data.head())

Index(['state', 'abbreviation'], dtype='object')
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [15]:
print("What operation do you want to perform in the column's?");

inp = input('What would you like to do:')

data = inp.lower()

if data == 'perform mathematical analysis':
    inp = input('What kind of analysis:')
    reply = inp.lower()

    # Finding the sum of numerical data
    if reply == 'find the sum of data' or reply == 'find the sum':
        lenght_of_columns = len(columns_names)
        if lenght_of_columns == 1:
            if not isinstance(selected_data, (int, float)):
                selected_data = pd.to_numeric(selected_data, errors='coerce')
            np.sum(selected_data)
    
    # Finding the minimum value of a numerical data
    if reply in ['find the min of data', 'find the min']:
        lenght_of_columns = len(columns_names)
        if lenght_of_columns == 1:
            if not isinstance(selected_data, (int, float)):
                selected_data = pd.to_numeric(selected_data, errors='coerce')
            np.min(selected_data)

    # Finding the maximum value of a numerical data
    if reply in ['find the max of data', 'find the max']:
        lenght_of_columns = len(columns_names)
        if lenght_of_columns == 1:
            if not isinstance(selected_data, (int, float)):
                selected_data = pd.to_numeric(selected_data, errors='coerce')
            np.max(selected_data)

print(selected_data.head())

What operation do you want to perform in the column's?
Series([], Name: area (sq. mi), dtype: object)