In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([2, 3, 4, 4, 3, 4, 3])

In [3]:
s1

0    2
1    3
2    4
3    4
4    3
5    4
6    3
dtype: int64

In [4]:
s1.dtype

dtype('int64')

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
s1.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
s1.index=['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [9]:
s1

a    2
b    3
c    4
d    4
e    3
f    4
g    3
dtype: int64

In [10]:
s1.mean()

3.2857142857142856

In [11]:
s1.min()

2

In [12]:
s1.max()

4

In [13]:
s1.info()

<class 'pandas.core.series.Series'>
Index: 7 entries, a to g
Series name: None
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 412.0+ bytes

In [14]:
s1.describe()

count    7.000000
mean     3.285714
std      0.755929
min      2.000000
25%      3.000000
50%      3.000000
75%      4.000000
max      4.000000
dtype: float64

In [16]:
s1.size

7

In [17]:
s1.shape

(7,)

In [18]:
import numpy as np

In [19]:
ages= np.random.randint(10, 30, 20)

In [20]:
s2 = pd.Series(ages)

In [21]:
s2

0     24
1     23
2     13
3     29
4     25
5     13
6     12
7     21
8     22
9     16
10    17
11    23
12    29
13    12
14    12
15    20
16    25
17    20
18    14
19    10
dtype: int32

In [22]:
s1

a    2
b    3
c    4
d    4
e    3
f    4
g    3
dtype: int64

In [23]:
s1[1]

C:\Users\Oxward\AppData\Local\Temp\ipykernel_17128\371843902.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[1]

3

In [24]:
s1.loc[1]

KeyError: 1

In [25]:
s1.loc['b']

3

In [26]:
s1.loc['f']

4

In [27]:
s1.iloc[1]

3

In [28]:
np_scores = np.random.randint(16, 90, (4, 7))
scores = pd.DataFrame(np_scores)

In [29]:
scores

    0   1   2   3   4   5   6
0  31  27  17  21  21  73  25
1  79  76  17  31  84  20  81
2  59  29  74  37  50  39  67
3  29  25  16  64  29  45  58

In [30]:
scores.index

RangeIndex(start=0, stop=4, step=1)

In [31]:
scores.columns

RangeIndex(start=0, stop=7, step=1)

In [32]:
scores.index

RangeIndex(start=0, stop=4, step=1)

In [33]:
scores.index = ['jack', 'Peter', 'Jhon', 'Prosper']

In [34]:
scores

          0   1   2   3   4   5   6
jack     31  27  17  21  21  73  25
Peter    79  76  17  31  84  20  81
Jhon     59  29  74  37  50  39  67
Prosper  29  25  16  64  29  45  58

In [35]:
scores.columns = ['Mathematics', 'English', 'French', 'Biology', 'Chemistry', 'Government', 'Economis']

In [36]:
scores

,Mathematics,English,French,Biology,Chemistry,Government,Economis
jack,31,27,17,21,21,73,25
Peter,79,76,17,31,84,20,81
Jhon,59,29,74,37,50,39,67
Prosper,29,25,16,64,29,45,58