In [1]:
import sqlite3 as sql

connection = sql.connect('Students_data.db.')

connection.execute("CREATE TABLE Students_data(SN INTEGER PRIMARY KEY AUTOINCREMENT, Name TEXT NOT NULL, Mat_No TEXT NOT NULL, Age INT NOT NULL)")

connection.close()

In [4]:
connection = sql.connect("Students_data.db")

name = input('Name:')
mat_no = input('Mat NO:')
age = int(input('Age:'))

connection.execute("INSERT INTO Students_data(Name, Mat_No, Age)VALUES(?, ?, ?)", (name, mat_no, age))

connection.commit()

connection.close()

Name: Pedro
Mat NO: u26t372340-4
Age: 32

In [5]:
connection = sql.connect("Students_data.db")

name = input('Name:')
mat_no = input('Mat NO:')
age = int(input('Age:'))

connection.execute("INSERT INTO Students_data(Name, Mat_No, Age)VALUES(?, ?, ?)", (name, mat_no, age))

connection.commit()

connection.close()

Name: Peter
Mat NO: qyg83823824
Age: 54

In [6]:
connection = sql.connect("Students_data.db")

name = input('Name:')
mat_no = input('Mat NO:')
age = int(input('Age:'))

connection.execute("INSERT INTO Students_data(Name, Mat_No, Age)VALUES(?, ?, ?)", (name, mat_no, age))

connection.commit()

connection.close()

Name: Tweet
Mat NO: u2733039894
Age: 23

In [7]:
conn = sql.connect('Students_data.db')
curs = conn.cursor()
content = curs.execute("SELECT * FROM Students_data")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000029069B3DCC0>
(1, 'Silver', 'u2019/e3833894', 34)
(2, 'Qween', 'lidou898384y4', 21)
(3, 'Pedro', 'u26t372340-4', 32)
(4, 'Peter', 'qyg83823824', 54)
(5, 'Tweet', 'u2733039894', 23)

In [8]:
conn = sql.connect('Students_data.db')
curs = conn.cursor()
content = curs.execute("SELECT Name, Age FROM Students_data")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000029069B3DE40>
('Silver', 34)
('Qween', 21)
('Pedro', 32)
('Peter', 54)
('Tweet', 23)

In [9]:
conn = sql.connect('Students_data.db')
curs = conn.cursor()
content = curs.execute("SELECT Name, Age FROM Students_data WHERE age >= 20")

print(content)

for record in content:
    print(record)

conn.close()

<sqlite3.Cursor object at 0x0000029069B3DBC0>
('Silver', 34)
('Qween', 21)
('Pedro', 32)
('Peter', 54)
('Tweet', 23)