## Lambda expressions or Anonymous function

In [1]:
# lambda inputs : function body

In [4]:
shipping_cost = lambda x: 10.95 + (x - 1) * 2.95

In [2]:
sum_2 = lambda x, y: x + y

In [3]:
sum_2(3, 5)

8

In [5]:
shipping_cost(3)

16.85

In [6]:
add_value = lambda *x: x

In [8]:
add_value(4)

(4,)

In [9]:
add_value(3, 5)

(3, 5)

In [10]:
area_of_trangle = lambda base_data, height_data: (0.5 * base_data) * height_data

In [11]:
inp1 = float(input('Enter the base:'))
inp2 = float(input('Enter the height:'))

solution = area_of_trangle(inp1, inp2)

solution

Enter the base: 12
Enter the height: 12

72.0

## Map, reduce and filter function

In [27]:
#Write a program that'll get the sum of numbers

numbers = [4, 5, 3, 45, 34, 12]
sum_of_numbers = 0
for number in numbers:
    sum_of_numbers = sum_of_numbers + number
print(sum_of_numbers)

# Assignment: use the reduce function on this

103

In [28]:
numbers = [4, 5, 3, 45, 34, 12]
for number in numbers:
    square_of_numbers = number ** 2
    print(square_of_numbers)

16
25
9
2025
1156
144

In [29]:
numbers = [4, 5, 3, 45, 34, 12]
square_of_numbers []
for number in numbers:
    square = number ** 2
    square_of_numbers.append(square)
print(square_of_numbers)

SyntaxError: invalid syntax (2917666966.py, line 2)

In [16]:
numbers = [4, 5, 3, 45, 34, 12]
filtered_numbers = []
for number in numbers:
    if number > 15:
        filtered_numbers.append(number)
print(filtered_numbers)

[45, 34]

In [20]:
# V1
"""
numbers = [4, 5, 3, 45, 34, 12]
squares = []
for number in numbers:
    square_of_numbers = number ** 2
    squares.append(square_of_numbers)
print(squares)
"""

# V2
def get_square(x):
    return x ** 2
tuple(map(get_square, [4, 5, 3, 45, 34, 12]))

(16, 25, 9, 2025, 1156, 144)

In [17]:
map?

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [21]:
map(lambda x: x**3, [4, 5, 3, 45, 34, 12])

In [22]:
list(map(lambda x: x**3, [4, 5, 3, 45, 34, 12]))

[64, 125, 27, 91125, 39304, 1728]

In [24]:
# use this list of numbers [3, 2, 5, 10, 25, 30]

list(map(lambda x: 3 * x - 2 * x**2, [3, 2, 5, 10, 25, 30]))

[-9, -2, -35, -170, -1175, -1710]

In [26]:
"""
numbers = [4, 5, 3, 45, 34, 12]
filtered_numbers = []
for number in numbers:
    if number > 15:
        filtered_numbers.append(number)
print(filtered_numbers)
"""

list(filter(lambda x:  x > 15, [4, 5, 3, 45, 34, 12]))

[45, 34]