# Exercise 38: Month Name to Number of Days

In [9]:
inp = input('Enter the month of the year: ').lower()


try:
    if inp == 'january' or inp == 'march' or inp == 'may' or inp == 'july' or inp == 'august' or inp == 'october' or inp == 'december':
        print(f'The month {inp} has 31 days in it')
    elif inp == 'april' or inp == 'june' or inp == 'september' or inp == 'november':
        print(f'The month {inp} has 30 days in it')
    elif inp == 'february':
        print(f'The mont {inp} has 28 days & 29 days in leap years')
except ValueError:
    print("You entered an invalid month name!")

Enter the month of the year:  september

The month september has 30 days in it

In [4]:
# Rename the variable to avoid conflict with the input() function
inps = input('Enter the name of the month or the number of days in the month: ')

inp = inps.lower()
input_month = inp.capitalize()



try:
    user_input_as_int = int(inps)
    ex_inps = user_input_as_int - 31
    les_inps = 28 - user_input_as_int
    if user_input_as_int == 31:
        print(f"January, March, May, July, August, October, and December have {inps} days")
    elif user_input_as_int == 30:
        print(f"April, June, September, and November have {inps} days")
    elif user_input_as_int == 28 or inps == 29:
        print(f'The month February has {inps} days')
    elif user_input_as_int > 31:
        print(f"Your input is a bit more than the highest number of days a month can have by {ex_inps}")
    elif user_input_as_int < 28:
        print(f"Your input is a bit less than than the lowest number of days a month can have by {les_inps}")
    else:
        print("We can't process your data")

except ValueError:
    if inp == 'january' or inp == 'march' or inp == 'may' or inp == 'july' or inp == 'august' or inp == 'october' or inp == 'december':
        print(f'The month {input_month} has 31 days in it')
    elif inp == 'april' or inp == 'june' or inp == 'september' or inp == 'november':
        print(f'The month {input_month} has 30 days in it')
    elif inp == 'february':
        print(f'The month {input_month} has 28 days & 29 days in leap years')
    else:
        print("You entered an invalid month name!")

Enter the name of the month or the number of days in the month:  March

The month March has 31 days in it

# Exercise 39: Sound Levels

In [6]:
sl = input('Enter your data to measure the sound level: ')

dB = int(sl)

if dB == 130:
    print(f"The object producing the level of the sound level {dB} is JACKHAMMER")
elif dB < 130 and dB > 106:
     print(f"The object producing the level of the sound level {dB} is something between a JACKHAMMER & GAS LAWNMOWER")
elif dB == 106:
     print(f"The object producing the level of the sound level {dB} is GAS LAWNMOWER")
elif dB < 106 and dB > 70:
     print(f"The object producing the level of the sound level {dB} is something between a GAS LAWNMOWER & ALARM CLOCK")
elif dB == 70:
     print(f"The object producing the level of the sound level {dB} is ALARM CLOCK")
elif dB < 70 and dB > 40:
     print(f"The object producing the level of the sound level {dB} is something between a ALARM CLOCK & QUIET ROOM")
elif dB == 40:
     print(f"The object producing the level of the sound level {dB} is QUIET ROOM")
elif dB > 130:
    print(f"The object producing the level of the sound level {dB} is above JACKHAMMER")
elif dB < 40:
    print(f"The object producing the level of the sound level {dB} is below QUIET ROOM")

Enter your data to measure the sound level:  60

The object producing the level of the sound level 60 is something between a ALARM CLOCK & QUIET ROOM

In [7]:
# Prompt the user for input
sl = input('Enter your data to measure the sound level: ')

# Convert the input to lowercase for case-insensitive matching
noise_data = sl.lower()

try:
    # Attempt to convert the input to an integer
    dB = int(sl)

    if dB == 130:
        print(f"The sound level is JACKHAMMER (130 dB)")
    elif 106 < dB < 130:
        print(f"The sound level is something between JACKHAMMER and GAS LAWNMOWER ({dB} dB)")
    elif dB == 106:
        print(f"The sound level is GAS LAWNMOWER (106 dB)")
    elif 70 < dB < 106:
        print(f"The sound level is something between GAS LAWNMOWER and ALARM CLOCK ({dB} dB)")
    elif dB == 70:
        print(f"The sound level is ALARM CLOCK (70 dB)")
    elif 40 < dB < 70:
        print(f"The sound level is something between ALARM CLOCK and QUIET ROOM ({dB} dB)")
    elif dB == 40:
        print(f"The sound level is QUIET ROOM (40 dB)")
    elif dB > 130:
        print(f"The sound level ({dB} dB) is above JACKHAMMER")
    elif dB < 40:
        print(f"The sound level ({dB} dB) is below QUIET ROOM")
    else:
        print('Invalid data!')
except ValueError:
    # Handle cases where the input couldn't be converted to an integer
    if noise_data == 'jackhammer':
        print(f"{sl} has a sound level of JACKHAMMER (130 dB)")
    elif noise_data == 'gas lawnmower':
        print(f"{sl} has a sound level of GAS LAWNMOWER (106 dB)")
    elif noise_data == 'alarm clock':
        print(f"{sl} has a sound level of ALARM CLOCK (70 dB)")
    elif noise_data == 'quiet room':
        print(f"{sl} has a sound level of QUIET ROOM (40 dB)")
    else:
        print('Invalid data!')

Enter your data to measure the sound level:  quiet room

quiet room has a sound level of QUIET ROOM (40 dB)

# CONDITIONALS

## 1

In [11]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f'The year {year} is a leap year')
else:
    print(f'The year {year} is not a leap year')

Enter a year:  100

The year 100 is not a leap year

## 2

In [20]:
number = float(input('Enter a number:'))

divisors = []

for x in range(1, 100):
    if number % x == 0:
        divisors.append(x)

if divisors:
    print(f'The number {number} can be divisible by: \n {divisors}')
else:
    print(f'The number {number} is not divisible by any number in the range 1 to 99.')

Enter a number: 90

The number 90.0 can be divisible by:
 [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90]

## 3

In [25]:
num_itm = int(input("Enter the number of items that you purchased:"))

a = 12 * num_itm
b = 10 * num_itm
c = 7 * num_itm

if num_itm < 10:
    print(f"You're being charged $12 per item which will cost you ${a} for everything")
elif num_itm >= 10 and num_itm <= 99:
    print(f"You're being charged $10 per item which will cost you ${b} for everything")
elif num_itm >= 100:
    print(f"You're being charged $7 per item which will cost you ${c} for everything")

Enter the number of items that you purchased: 100

You're being charged $7 per item which will cost you $700 for everything

## 4

In [10]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if abs(num1 - num2) <= 0.001:
    print("Close")
else:
    print("Not close")

Enter the first number:  21
Enter the second number:  34

Not close

# Loops

## 1

In [29]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5,
12], {"class":'V', "section":'A'}]

for i in datalist:
    print(f'{i}:', type(i))

1452: <class 'int'>
11.23: <class 'float'>
(1+2j): <class 'complex'>
True: <class 'bool'>
w3resource: <class 'str'>
(0, -1): <class 'tuple'>
[5, 12]: <class 'list'>
{'class': 'V', 'section': 'A'}: <class 'dict'>

## 2

In [34]:
for i in range(6):
    if i % 3 != 0:
        print(i)

1
2
4
5

## 3

In [39]:
for x in range(1, 50):
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 5 == 0:
        print("Buzz")
    elif x % 3 == 0:
        print("Fizz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz

## 4

In [42]:
sequence = []

for i in range(100, 401):
    if i % 2 == 0:
        sequence.append(i)
print(sequence)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400]

In [43]:
for i in range(100, 401, 2):
    print(f'{i},')

100,
102,
104,
106,
108,
110,
112,
114,
116,
118,
120,
122,
124,
126,
128,
130,
132,
134,
136,
138,
140,
142,
144,
146,
148,
150,
152,
154,
156,
158,
160,
162,
164,
166,
168,
170,
172,
174,
176,
178,
180,
182,
184,
186,
188,
190,
192,
194,
196,
198,
200,
202,
204,
206,
208,
210,
212,
214,
216,
218,
220,
222,
224,
226,
228,
230,
232,
234,
236,
238,
240,
242,
244,
246,
248,
250,
252,
254,
256,
258,
260,
262,
264,
266,
268,
270,
272,
274,
276,
278,
280,
282,
284,
286,
288,
290,
292,
294,
296,
298,
300,
302,
304,
306,
308,
310,
312,
314,
316,
318,
320,
322,
324,
326,
328,
330,
332,
334,
336,
338,
340,
342,
344,
346,
348,
350,
352,
354,
356,
358,
360,
362,
364,
366,
368,
370,
372,
374,
376,
378,
380,
382,
384,
386,
388,
390,
392,
394,
396,
398,
400,